.form-item {
  margin: 1rem 0;
}

.form-text {
  color: var(--marine-blue);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.form-input {
  outline: none;
  color: var(--marine-blue);
  width: 100%;
  border: 1px solid var(--light-gray);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
}

.form-input::placeholder {
  max-width: 100%;
  color: var(--cool-gray);
  font-size: 1.0125rem;
  margin: 1rem 0 2rem;
  font-weight: 500;
}
